#home{
	width:100vw;
	height:100vh;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url("../../img/photo-1525351549016-1ddd272c8315.png");
	background-repeat: no-repeat;
	background-size:cover;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 50px; 
	font-style: italic;
;}

#home img{
	width: 400px;
	height: 400px;
}

